*{
    margin: 0;
}

.topContainer
{
    height: 650px;
    width: 100%;
}
.topLeft{
    height: 100%;
    width: 60%;
    float: left;
}
.topLeft>img{
    height: 50%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}
.topleft_box2
{
    margin-top: 20px;
    height: 15%;
    width: 80%;
    margin-left: 15%;
}
.topleft_box2>div{
    height: 100%;
    width: 150px;
    margin-left: 20px;
    float: left;
}
.topLeftP1
{
    font-size: 10px;
    margin-top: 3px;
    color: #656565;
}
.topLeftP2
{
    font-size: 15px;
    margin-top: 3px;
    font-weight: 500;
    color: rgba(27,28,36,.8);
}