.container
{
    height: 600px;
    width: 550px;
    left: 850px;
    top: 40px;
    position: relative;
    position: fixed;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
}
.head{
    height: 70px;
    width:100%;
    background-color: #f9f9f9;
}
.head>p{
    font-size: 25px;
    padding: 15px;
    padding-left: 35px;
    font-weight: 700;
}
.headP
{
    font-size: 22px;
    padding: 15px;
    padding-left: 35px;
    font-weight: 700;
}
.tentureBox
{
    height: 70px;
    width:100%;
  
}
.tentureBox>div
{
    float: left;
    margin-left: 18px;
    height: 75%;
    width: 13%;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);
}
.tentureBox_p1{
    font-size: 16px;
    text-align: center;
    font-weight: 800;
    color: #656565;
}

.tentureBox_p2{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #656565;
}
.price{
    font-size: 35px;
    padding-left: 35px;
    font-weight: 700;
}
.price_span1
{
    font-size: 20px;
    color: #656565;
    font-weight: 200;
}