.Container {
  padding-top: 5%;
  display: flex;
}
.Container_Left {
  background-color: #4d4d4d;
  margin-left: 3%;
  margin-top: 2%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 200px;
  box-shadow: 0px 0px 15px grey;
}
.Container_Left > button {
  height: 40px;
  border: none;
  color: #fff;
  border-bottom: 1px solid #404040;
  border-top: 1px solid #404040;
}
.Container_Left > div {
  height: 40px;
}
.Container_Right {
  height: 500px;
  width: 70%;
  padding: 4%;
  /* border: 1px solid red; */
}
.Container_Right_Top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.Container_Right_Mid,
.Container_Right_Bottom {
  /* border: 1px solid red; */
  margin: 50px;
}
.Container_Right_Bottom_List {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}
.Container_Right_Bottom_List_Car > img {
  width: 100%;
}
.Container_Right_Bottom_List_Car {
  width: 40%;
  margin: 2%;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);

  border-radius: 15px;
  padding: 1%;
}
.Cars_Info > h4 {
  color: black;
  font-size: 14px;
}
