.container{
    width: 50%;
    height: fit-content;
    margin-top: 1%;
    margin-left:3%;
    margin-bottom:5%;
    float: left;
}
.heading
{
    color: #7f8091;
    font-size: 21px;
    font-weight: 500;
   padding-bottom: 10px;
}
.bannerImg
{
    width: 100%;
    margin-top: 10px;
}