*,
:after,
:before {
  box-sizing: border-box;
}
.container1 {
  width: 21.5vw;
  height: 65vh;
  border: 1px solid rgba(152, 152, 152, 0.3);
  margin-bottom: 5%;
  border-radius: 7px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.container1:hover {
  box-shadow: 2px 0px 0px lightgray;
}
.container2 {
  width: 100%;
  height: 70%;
  border-radius: 4px;
  background-color: rgb(241, 241, 241);
}
.container2:hover {
  background-color: white;
  cursor: pointer;
}
.container2__a {
  width: 100%;
  height: 15%;
}
.container2__b {
  width: 100%;
  height: 65%;
}
.container2__b_a {
  width: 88%;
  height: 60%;
  margin: auto;
  min-height: 150px;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
}
.container2__b_a > img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-style: none;
}
.container2__c {
  width: 100%;
  height: 18%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container3 {
  width: 100%;
  height: 16%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container3__a {
  width: 33%;
  height: 100%;
  border: 1px solid rgba(152, 152, 152, 0.3);
  text-align: center;
  background-color: #e3e3e3;
  border-bottom: 0px;
}

.container4 {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bg {
  background-color: white;
  width: 20%;
  width: 33%;
  height: 100%;
  border: 1px solid rgba(152, 152, 152, 0.3);
  text-align: center;
  border-bottom: 0px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: bounceA 0.75s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #2cbfc0;
}
