.container
{
    width: 16%;
    height: 55%;
    margin-top: 1%;
    margin-left:10%;
   
}
.heading
{
    padding: 0;
    text-align: left;
    padding-left: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #868686;
}
.pricingHead
{
    padding: 0;
    text-align: left;
    padding-left: 7px;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500;
}