*
{
    margin: 0;
}
.container
{
    clear: both;
    height: 350px;
    width: 100%;
    background-color: #F4F4F4;
}
.Logobox
{
    height: 180px;
    width: 25%;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
.Logobox>img{
    margin-left: 20px;
    margin-top: 50px;
}
.Logobox>p{
    margin-left: 20px;
    color: #797a89;
    font-size: 14px;
    font-weight: 400;
}
.contentBox
{
    height: 250px;
    width: 25%;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
}
.contentBox>p{
    margin-top: 15px;
    margin-left: 100px;
    color: #797a89;
    font-size: 14px;
    font-weight: 500;
}
.socialBox{
    height: 250px;
    width: 25%;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
}
.socialBox>p{
    margin-top: 15px;
    margin-left: 50px;
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
}
.socialBox>div{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

#box{
    height: 50px;
    width: 250px;
    margin-left: 40px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}
#box>p{
    margin-top: 15px;
    margin-left: 5px;
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
}

